/* User.css */
.user-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  color: #333;
}

.user-table-container {
  margin-top: 20px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.user-table th,
.user-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.user-table th {
  background-color: #f4f4f4;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.actions button {
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.edit-buttons {
  display: flex;
  gap: 10px;
}

.edit-button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.edit-button.edit {
  background-color: #007bff;
  color: white;
}

.edit-button.edit:hover {
  background-color: #0056b3;
}

.edit-button.delete {
  background-color: #ff4d4d;
  color: white;
}

.edit-button.delete:hover {
  background-color: #cc0000;
}

.add-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  max-width: 100%;
}

.btn-success {
  background-color: #2ecc71;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-success:hover {
  background-color: #27ae60;
}

/* Adicionando o foco aos campos de input */
.input-field:focus {
  border-color: #3498db;
}
