.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  border-bottom: 1px solid #ddd;
}

.header-left {
  display: flex;
  gap: 15px;
}

.header-link {
  text-decoration: none;
  color: #ddd;
  font-size: 16px;
  font-weight: bold;
}

.header-link:hover {
  color: #007bff;
}

.header-right {
  display: flex;
  position: relative; /* Necessário para posicionar o dropdown */
}

.username {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
  color: #ddd;
  font-weight: bold;
}

.username:hover {
  color: #007bff; /* Cor ao passar o mouse no nome "Usuário" */
}

.user-dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
  border-radius: 4px; /* Adiciona borda arredondada ao menu */
  padding: 10px 0;
}

.dropdown-item {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-weight: normal;
}

.dropdown-item:hover {
  background-color: #0c00c4;
  color: #fff;
}

.dropdown-item:active {
  background-color: #e0e0e0;
}

/* Estilo para o botão "Sair" dentro do dropdown */
.dropdown-item.logout {
  background-color: #ff4d4d; /* Cor de fundo vermelha */
  color: white; /* Cor do texto em branco */
}

.dropdown-item.logout:hover {
  background-color: #cc0000; /* Cor de fundo vermelha mais escura ao passar o mouse */
  color: white; /* Mantém o texto branco no hover */
}
